# SSH Server Configuration Template
# Renomeie este arquivo para .env e preencha com seus dados de acesso.

# Dados de conexao SSH
SSH_HOST=10.0.0.7
SSH_PORT=22
SSH_USERNAME=<YOUR_USERNAME>
SSH_PASSWORD=

# Chave SSH Opcional (se nao usar senha)
# SSH_KEY_PATH=C:\caminho\para\sua\chave_id_rsa
# SSH_KEY_PASSPHRASE=sua_senha_da_chave

# Caminho para logs internos do Servidor
SSH_MCP_LOG=C:\ssh-mcp\logs\ssh-mcp.log

